GetPossiableValues:
   Admin_GetPossiableValues_allValid_smoke:
      endPoint: /v1/masterdata/possiblevalues/{fieldName}?langCode=eng
      uniqueIdentifier: TC_Masterdata_GetPossiableValues_01
      description: Retrieve possible values with valid field name and language code
      role: admin
      checkErrorsOnlyInResponse: true
      restMethod: get
      inputTemplate: masterdata/GetPossiableValues/getPossiableValues
      outputTemplate: masterdata/GetPossiableValues/getPossiableValuesResult
      input: '{
  "fieldName":"bloodType"
}'
      output: '{
"eng": [{
       "dataType": "string"
		}]
}'

   Admin_GetPossiableValues_Invalid_Invalid_FieldName:
      endPoint: /v1/masterdata/possiblevalues/{fieldName}?langCode=eng
      uniqueIdentifier: TC_Masterdata_GetPossiableValues_02
      description: Retrieve possible values with invalid field name and valid language code
      role: admin
      checkErrorsOnlyInResponse: true
      restMethod: get
      inputTemplate: masterdata/GetPossiableValues/getPossiableValues
      outputTemplate: masterdata/error
      input: '{
  "fieldName":"abc"
}'
      output: '{
}'  

   Admin_GetPossiableValues_Invalid_Invalid_langCode:
      endPoint: /v1/masterdata/possiblevalues/{fieldName}?langCode=abc
      uniqueIdentifier: TC_Masterdata_GetPossiableValues_03
      description: Retrieve possible values with valid field name and invalid language code
      role: admin
      checkErrorsOnlyInResponse: true
      restMethod: get
      inputTemplate: masterdata/GetPossiableValues/getPossiableValues
      outputTemplate: masterdata/error
      input: '{
  "fieldName":"bloodType"
}'
      output: '{
}'